@font-face {
	font-family: 'Franchise';
	src: url('./fonts/Franchise-Bold/Franchise-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RBNo2';
	src: url('./fonts/RBNo2/RBNo2Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Outage';
	src: url('./fonts/Outage/Outage.ttf');
	font-weight: normal;
	font-style: normal;
}

body, h1, h2, h3, p {
	font-family:'RBNo2', 'Sans-serif';
}

.vc-cbd-shadow {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

#vc-main-outer {
}

#vc-main-inner {
	background-image: url('/images/cardboard.jpg');
	background-repeat : repeat;
}

#widget-nav {
	background-color: black;
}

#widget-notify {
}

#widget-side-left {
}

#widget-tabs {
	background-color: rgba(0, 0, 0, 0.65);
	.vc-cbd-shadow;
}

#widget-av {
	background-color: black;
	.vc-cbd-shadow;
}

#widget-chat {
	background-color: #AA1111;
	.vc-cbd-shadow;
}

#widget-side-right {
}

