.vc-cbd-shadow {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

#vc-main-outer {
}

#vc-main-inner {
	background-image: url('/images/cardboard.jpg');
	background-repeat : repeat;
}

#widget-top {
}

#widget-notify {
}

#widget-side-left {
}

#widget-tabs {
	background-color: #000000;
	.vc-cbd-shadow;
}

#widget-av {
	background-color: black;
	.vc-cbd-shadow;
}

#widget-chat {
	background-color: #AA1111;
	.vc-cbd-shadow;
}

#widget-side-right {
}

