.lcb-message
	img.lcb-message-avatar.lcb-avatar.lcb-room-poke(src="https://www.gravatar.com/avatar/#{avatar}?s=30")
	.lcb-message-meta
		span.lcb-message-name
			span.lcb-room-poke
				span.lcb-message-displayname #{displayName}
			span.lcb-message-username #{username}
		time.lcb-message-time
		.lcb-message-text
