#sce-custom-wrapper
	#sce-header
		h1 Welcome to Shared Editor
		br
		select#mode
			option(value="js") Javascript
			option(value="html") HTML
			option(value="cpp") C & C++
		select#theme
			option(value="monokai") Monokai	
			option(value="solar_dark") Solarized_Dark
			option(value="chrome") Chrome
			option(value="clouds") Clouds
			option(value="clouds2") Clouds-Midnight
	#sce-ace_editor
