#sce-custom-wrapper
	#sce-header
		h1 Shared Code Editor
		br
		select#ace-font_size
			option(value="12") 12px
			option(value="14") 14px
			option(value="16") 16px
			option(value="18") 18px
			option(value="20") 20px
			option(value="22") 22px
			option(value="24") 24px
		select#mode
			-for (var x=0 ; x<languages.length; x++)
				option(value="#{languages[x].value}") #{languages[x].text}
		select#theme
			-for (var x=0 ; x<themes.length; x++)
				option(value="#{themes[x].value}") #{themes[x].text}
		button.ace_undo.btn.btn-default.btn-sm(disabled) Undo
		button.ace_redo.btn.btn-default.btn-sm(disabled) Redo
		button#save_file.btn.btn-default.btn-sm Save
		input#load_file(type = "file")
	#sce-ace_editor
