include header

body

	.row
		include widget-top

	.row.vc-mid-row
		include widget-left-side
		include widget-tabs
		div#av-chat-container
			.row
				include widget-av
			.row
				include widget-chat
		include widget-right-side

	.row.vc-footer
		include widget-notify

