#av-menu-outer
		#av-indicator.flash(style="display:none;")
		div(style="display: inline-block;")
			#av-menu-audio-unmute.av-menu-item.text-danger(style="display: none;")
				include images/microphone-slashed.svg
			#av-menu-audio-mute.av-menu-item
				include images/microphone.svg
		div(style="display: inline-block;")
			#av-menu-video-unmute.av-menu-item.text-danger(style="display: none;")
				include images/camera-slash.svg
			#av-menu-video-mute.av-menu-item
				include images/camera.svg
