.atl-controls-bar
	.atl-control.vu-meter
		//img (src=images/vu-meter.png)
	.atl-control.mic
		include images/mic.svg
	.atl-control.mic-slashed
		include images/mic-slashed.svg
	.atl-control.camera
		include images/camera.svg
	.atl-control.camera-slashed
		include images/camera-slashed.svg
