.atl-controls-bar
	//.atl-control.vu-meter
		include images/vu-meter.svg

	.atl-control-cover#microphone-cover.cover-show
	.atl-control#microphone
		include images/mic.svg
	.atl-control#microphone-slashed(style="display:none")
		include images/mic-slashed.svg

	.atl-control-cover#camera-cover.cover-show
	.atl-control#camera
		include images/camera.svg
	.atl-control#camera-slashed(style="display:none")
		include images/camera-slashed.svg
