.content-lib-outer
  .content-lib-upload
    .content-lib-header
      h1 Content Library Template
    .content-upload-control
      span.fileinput-button
        span.content-upload-label.fa.fa-plus-square
        input.content-upload-input(type="file", name="files[]")
      span.content-upload-status Upload

    // Progress
    .content-progress
      span.text-danger.content-upload-error.fa.fa-exclamation-triangle(style="display:none")
      span.content-conversion-busy.fa.fa-circle-o-notch.fa-spin(style="display:none")
      .progress(style="width:100%; display:none;")
        .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="0", aria-valuemin="0")
          span
  .content-lib-main
