.content-lib-outer
  .content-lib-upload
    h1 Content Library Template
    .row
      // File input
      .col-md-2
        span.fileinput-button
          span.content-upload-label.fa.fa-plus-square Add a file
          input.content-upload-input(type="file", name="files[]")

      // Progress bar
      .col-md-10
        .progress(style="width:100%; display:block;")
          .progress-bar.progress-bar-striped.active(role="progresbar", aria-valuenow="100", aria-valuemin="0")
            span
  .content-lib-main
