.content-player-outer
  .content-area(id="#{content_area_id}")
  .content-menu
    .navbar(role='navigation')
      .nav-inner
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav(data-content-area-id="#{content_area_id}")
            li.content-layout-toggle
              a.tooltip(href="javascript:void(0)")
                //span.fa.fa-exchange
                include ../../classic-1/images/top-bar/layout2.svg
                div.tooltip-content
                  div
                    span.tooltip-header Layout
                  div
                    span.tooltip-text Vertical, Single Column, Scrollable

            li.content-zoomin
              a.tooltip(href="javascript:void(0)")
                span.fa.fa-search-plus
                div.tooltip-content Zoom In

            li.content-zoomout
              a.tooltip(href="javascript:void(0)")
                span.fa.fa-search-minus
                div.tooltip-content Zoom Out

            li.content-page-nav(data-nav-direction="prev")
              a.tooltip(href="javascript:void(0)")
                span.fa.fa-step-backward
                div.tooltip-content Previous

            li.content-page-nav(data-nav-direction="next")
              a.tooltip(href="javascript:void(0)")
                span.fa.fa-step-forward
                div.tooltip-content Next

            li.content-library
              a.tooltip(href="javascript:void(0)")
                include images/content-library.svg
                div.tooltip-content Library
