div.content-navbar
	button.content-prev <-
	button.content-next ->
	input.content-goto-page(type="text)
	label.content-total-pages
	button.content-zoomout -
	button.content-zoomin +
	button.content-fit-width Fit Width
	button.content-change-view V View
div.content-outer
