.bb-custom-wrapper
	#bb-bookblock.bb-bookblock
		.bb-item
			h1 This is page 1
			canvas(width="800px", height="400px", style="margin: 0 auto")
		.bb-item
			h1 This is page 2
			img(src="http://assets.worldwildlife.org/photos/1140/images/story_full_width/elephants_8.1.2012_whytheymatter2_XL_287397.jpg?1345538433")
		.bb-item
			h1 This is page 3
			img(src="http://lionssharedigital.com/wp-content/uploads/2013/04/Lion.jpg")
		.bb-item
			h1 This is page 4
		.bb-item
			h1 This is page 5
	nav
		a#bb-nav-first.bb-custom-icon.bb-custom-icon-first(href="#") First page
		a#bb-nav-prev.bb-custom-icon.bb-custom-icon-arrow-left(href="#") Previous
		a#bb-nav-next.bb-custom-icon.bb-custom-icon-arrow-right(href="#") Next
		a#bb-nav-last.bb-custom-icon.bb-custom-icon-last(href="#") Last page
